# File di configurazione locale
application.properties
env.yaml

# Log files
*.log

# File generati dall'IDE
.idea/
*.iml

# File di build di Maven e Gradle
target/
build/
.gradle/

# Pacchetti di dipendenze
/node_modules/
dist/
npm-debug.log
