# File di configurazione locale
# NON FARE IL COMMIT DI QUESTO FILE SE CONTIENE CREDENZIALI!
src/main/resources/application.properties

# Log files
*.log

# Build artifacts
target/
*.jar
*.war
*.ear

# File specifici degli IDE
.idea/
*.iml
*.iws
.classpath
.project
.settings/
bin/

# File del sistema operativo
.DS_Store
Thumbs.db
